:is(button, fieldset) {
  border: none;
}
:is(legend, caption, .a11y-hidden) {
  position: absolute;
  clip-path: rect(1px 1px 1px 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
}
fieldset {
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table-type1 {
  th,
  td {
    padding: 15px 20px;
    border: 1px solid #e5e5e5;
  }
  tbody {
    th {
      background: #f7f7f7;
      color: #555;
      font-size: 13px;
      font-weight: 400;
    }
    td {
      color: #555;
      font-size: 13px;
    }
  }
  label ~ input {
    margin-left: 20px;
  }
  input ~ label {
    margin-left: 5px;
  }
}
.btn-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 17px;
}
.btn-submit {
  padding-inline: 10px;
  height: 34px;
  background-color: #7d7d7d;
  color: #fff;
  font-size: 15px;
}

.btn-reset {
  padding-inline: 10px;
  background-color: #fff;
  color: #070707;
  font-size: 15px;
  border: 1px solid #7d7d7d;
}

.selected {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-block: 0 20px;
  > * {
    padding: 2px 10px;
    background-color: #f7f7f7;
    border-radius: 2px;
    font-size: 12px;
    color: #7d7d7d;
    &::before {
      content: "#";
    }
  }
}
